/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro&family=Literata');

html{
    background-image: url('./assets/trianglify-lowres.png');
    background-size: cover;

    overflow-y: auto !important;
    
} 